.container {
  border: black 1px solid;
  padding: 40px;
  max-width: 500px;
  max-height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  box-sizing: border-box;
}

.authform {
  width: 300px;
  padding: 20px;
}

.button-auth {
  width: 100%;
  height: 50px;
}
.signupform-container {
  width: 380px;
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.auth-button {
  width: 20%;
  height: 56px;
}

.authform {
  width: 100%;
}
