.container-line {
  border: black 1px solid;
  padding: 40px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  box-sizing: border-box;
}

.form-button-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  height: 50px;
}

.signupform {
  width: 100%;
}
